 @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Inter:wght@400;700;800&family=Outfit:wght@400;700&family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap');

:root{
  /* primary */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);


  /* Neutral */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  --ff-primary:'Ubuntu', sans-serif;;
  --ff-sec: 'Outfit', sans-serif;

  --fw-reg: 400;
  --fw-mid:500;
  --fw-bold: 700;

  --fs-p: 1rem;
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  box-sizing: border-box;
  background-color: var(--Light-gray);
}

@media (min-width:50rem){
  body{
    background-color: var(--Magnolia);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
  }
}